body {
  font-family: "Roboto", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
}
.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.wrapper {
  padding: 20px;
  border: 1px solid rgb(125, 125, 172);
  border-radius: 10px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/019/844/original/pexels-francesco-ungaro-2835436.jpg?1635275066");
}
.overview {
  margin-bottom: 20px;
}
.weather-temp img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temp strong {
  color: rgb(39, 35, 35);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temp .units {
  color: rgb(39, 35, 35);
  position: relative;
  top: -34px;
  font-size: 16px;
}
.weather-temp .active {
  color: rgb(7, 7, 7);
  cursor: default;
  text-decoration: none;
}
.weather-temp .active-two {
  text-decoration: none;
}

h1 {
  color: rgb(237, 239, 241);
  font-size: 24px;
  margin: 0;
  line-height: 1.2;
  font-weight: lighter;
  padding-bottom: 15px;
}
li:first-letter {
  text-transform: capitalize;
}
h2 {
  color: rgb(237, 239, 241);
  font-size: 20px;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 100;
  line-height: 1.2;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgb(237, 239, 241);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}
